.*.lck
*.pro
*~
~$*
*.l#?
*.s#?
*.b#?
starter
.release
*.cam
.DS_Store
.test.out
test
firmware/libraries/QuadClass-AHRS/
firmware/libraries/QuadClass-LSM9DS1/
firmware/libraries/QuadClass-Sensor/
firmware/libraries/Remote
firmware/libraries/SoftwareSerial2
firmware/libraries/SparkFun_SerLCD_Arduino_Library
firmware/libraries/Radio
firmware/libraries/RotaryEncoder
firmware/libraries/SoftI2CMaster/
firmware/hardware/QuadClass-Atmega128RFA-Arduino-Addon/
QuadClass-Quadcopter-Starter-*

